 .dygraph-legend {
        background-color: rgba(200, 200, 255, 0.75) !important;
        padding: 4px;
        border: 1px solid #000;
        border-radius: 10px;
        box-shadow: 4px 4px 4px #888;
        pointer-events: none;
        font-size: 10px;
      }
      pre {
        margin-top: 30px;
      }