.title {
	margin-left: 15px;
	position: absolute;
	top : 20px;
}

.titlePanel {
	background-color : #333;
	color : white;
	font-weight : bold;
	font-size: 25px;
}
.subtitle{
	font-size: 15px;
	margin-left: 15px;
	font-style: italic;
	font-weight : normal;
}

.titleImage{
	width:50px;
	height:50px
}

.toolbarPanel{
	background-color: #207a7a;
}

.menuCategoryItem{
	color : #333;
	font-weight : bold;
}
