.x-toolbar-footer {
background: #E4EAFF;
border: 0;
margin: 0;
padding: 6px 0 6px 6px;
border-top : 1px gray dotted;
}


#.x-tab-bar-default {
#	background-color: #E4EAFF;
#	 border: 5px solid red;
#}


.x-tab-default {
border-color: #C0AFAF;
margin: 0 5px;
cursor: pointer;
}

.x-mask {
filter: alpha(opacity=70);
opacity: .7;
background: gray;
cursor: default;
}

.x-form-item-label-default{
	font-size : 12px;
}

.x-grid-cell{
	font-size : 10px;
	line-height : 12px;
}
.x-grid-cell-inner{
	padding: 2px 2px 2px 10px;
}



.x-panel-body-default{
	font-size : 11px;
}

.navigation .x-column-header .x-column-header-text{
	font-size : 12px;
}
.navigation .x-grid-cell{
	font-size : 10px;
	line-height : 17px;
}

.x-column-header .x-column-header-text{
	font-size : 10px;
}

.navigation{
	font-weight : bold;
	border-right : 1px #207a7a solid;
}

.x-column-header-inner {
	padding: 1px 2px 1px 2px;
}
